[2021-01-27 01:56] ayishacs opened #1 "create napkin diagram in README"
@visheshdembla @surajp28 @ayishacs
#First deliverable
Task1: Napkin diagram

[2021-01-27 02:03] ayishacs opened #2 "create flow chart for information architecture"
@visheshdembla @surajp28 @ayishacs
#First deliverable
Task2: Flow chart for information architecture
Update Readme.md

[2021-01-27 02:06] ayishacs opened #3 "UX design mock ups on pen and paper"
@visheshdembla @surajp28 @ayishacs
#First deliverable
Task 3: Mock ups for UX design

[2021-01-28 00:24] visheshdembla opened #4 "create project description and update in readme"
The README file of the project panorama should be updated with the project description along with information about the team.

[2021-01-28 00:28] visheshdembla opened #6 "maintain meeting notes in GitHub in Readme format for Project Milestone 1"
Ongoing task of maintaining all the team meetings in GitHub

[2021-01-28 17:08] ayishacs commented on #1
![napkindiagram](https://user-images.githubusercontent.com/77846296/106170656-a8199100-615e-11eb-91df-6b3c883cc985.png)

- [x] created and uploaded napkin daigram.
- [x] peer review by @visheshdembla @surajp28
- [ ] napkin daigram will be updated in readme

[2021-01-28 22:12] visheshdembla commented on #6
Note: this is a continuous tracker for the meeting note uploads. I will keep updating the meeting dates for which the meeting notes have been uploaded. The meeting notes are present in the [docs/meetings](https://github.com/airavata-courses/Panorama/tree/main/docs/meetings).

[2021-01-28 22:14] visheshdembla commented on #6
updated meeting notes for Jan 24 and Jan 28.
commit id [f8fedc](https://github.com/airavata-courses/Panorama/commit/f8fedc0be6d507c21559d24d759b4882ad1a15c0)

[2021-01-29 00:11] surajp28 opened #7 "Create a development branch and apply restriction rules"
A development branch would be required to push all commits made by the team members before actually committing to the master branch

[2021-01-29 00:22] surajp28 opened #8 "Discuss and decide a release manager for first milestone of the project"
A release manager would be required for the first milestone of the project. Can we all discuss the same?

[2021-01-29 00:28] surajp28 commented on #8
I believe to choose the release master in a round-robin fashion. @visheshdembla @ayishacs what do you both think about it?

[2021-01-29 00:28] #7 closed, assigned to surajp28

[2021-01-29 00:28] visheshdembla commented on #8
sure. I won't mind going first. Is that fine?

[2021-01-29 00:28] ayishacs commented on #8
ya sure.. let's start with vishesh

[2021-01-29 00:29] visheshdembla commented on #8
It's decided then!

[2021-01-29 00:29] surajp28 commented on #8
Great!!

[2021-01-29 00:29] #8 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-01-29 00:59] visheshdembla opened #9 "PR merge requires review for main branch"
Create PR merge review requirement for the main branch

[2021-01-29 01:03] visheshdembla commented on #9
updated the branch protection rules and included administrators for the same.

[2021-01-29 01:03] #9 closed, assigned to visheshdembla

[2021-01-29 01:04] visheshdembla commented on #6
Added meeting notes for 28 January

[2021-01-29 01:06] visheshdembla commented on #7
There was one additional check in the branch protection rules for both the main and the dev branch that we had missed that we needed to add.
Since we all three are admins of the repository, we needed to check the `Include Administrators` check in the options to enforce the rules on us. I checked this option for dev branch as well.

Just FYI.

[2021-01-29 16:46] visheshdembla commented on #1
@ayishacs can we also get a JPG format downloaded for the final image. This one seems to be a PNG format, where the background is transparent. This doesn't look good if you have a black theme set on GitHub, so could be an issue for some users. I am attaching how it looks on my GitHub, so maybe it would be clear what I am talking about.

<img width="517" alt="npd" src="https://user-images.githubuse

[2021-01-29 16:53] visheshdembla commented on #1
Here are some feedbacks that I gave in our yesterday's sync.
1. I think since the end-user of the SaaS doesn't care how and where the data is being stored, we should remove the icons for servers.
2. A capability like login is implied and trivial so putting locks in for indicating that we have login seems redundant.
3. The second icon looks a bit like Instagram. Since you mentioned it is supposed t

[2021-01-29 20:53] visheshdembla commented on #1
As a potential possibility, we can try defining some personas and create a story in our napkin diagram. Just giving an example of the same on a rough pen paper image.

![napkin_dig](https://user-images.githubusercontent.com/13031482/106326230-22730f80-624a-11eb-93d8-f579b95a7004.jpeg)

[2021-02-02 17:16] ayishacs commented on #1
Thank you for your feedback @visheshdembla @surajp28

Here are my inputs based upon team's feedback during the meeting:

A napkin diagram is a loose drawing to represent a concept, _it may or may not include the architectural components_ such as compute, storage or user management features.

The audience for napkin diagram include _customers, technical. non-technical and business users_.

Based on

[2021-02-02 17:20] ayishacs commented on #1
The final diagram will be in JPG format.

[2021-02-02 20:48] ayishacs commented on #1
![panoramanapkindiagram2](https://user-images.githubusercontent.com/77846296/106660522-1949b180-656e-11eb-991b-c57530433279.jpg)

[2021-02-02 21:05] ayishacs commented on #1
![panoramanapkindiagram2](https://user-images.githubusercontent.com/77846296/106662506-76466700-6570-11eb-9b24-185bcaa74bda.jpg)

[2021-02-02 21:08] ayishacs commented on #1
@airavata-courses/panorama @visheshdembla @surajp28

The second draft of the napkin diagram with necessary updates based on feedback is posted.
Please feel free to give your inputs by commenting in the thread.

[2021-02-02 21:24] visheshdembla commented on #1
@ayishacs I guess the organization representation that we had discussed is missing in the representation above. Otherwise it looks great.

[2021-02-02 22:15] ayishacs commented on #1
@visheshdembla..
As per our discussion, the metadata-based image filter was to be shown using colored boxes which can be seen on the second screen. Please have a look, but if the team had something new of relevance in mind. Feel free to comment and I will work on it after having a team discussion.

[2021-02-02 22:18] visheshdembla commented on #1
Okay got it. I thought we were supposed to show that as a separate section. Let's run this by the instructors once. But before that can we add some text that indicates organization functionality because having that inside the screen doesn't make things clear for me at least. A text would help. Any other feedback @surajp28

[2021-02-02 22:38] surajp28 commented on #1
I had the following points:
1. The photo-sharing could be shown via panorama. The current diagram doesn't capture the essence of sharing via panorama. A suggestion for the same would be to club upload and download under sharing so we should upload and download as functionality and the text would be entered as - Allows sharing of photos with other users.
2. The cloud storage text could be more elab

[2021-02-03 00:26] visheshdembla commented on #1
As discussed in the meeting today, @ayishacs would work on points 1 and 3.

[2021-02-03 02:04] surajp28 commented on #4
Hey guys,
Could you review this?
As suggested by @visheshdembla the project description is made from a user point of view.
Any other suggestions?

[2021-02-03 20:31] visheshdembla commented on #3
Updated the task to reflect that only Pen-Paper Diagram is expected as part of this task.

[2021-02-03 20:49] surajp28 commented on #3
Account overview would have hover options with the Panorama photos background
![Accounts_Overview](https://user-images.githubusercontent.com/64825150/106806708-4792c400-6636-11eb-9341-5cab6e1f260c.jpeg)

The delete share and download options shall be highlighted when you click on a single photo or multiple
![delete_share_download](https://user-images.githubusercontent.com/64825150/106806711-482b5a

[2021-02-03 22:43] visheshdembla commented on #4
The description has  been adopted as per the feedback. Thanks for the update @surajp28 . I will close the item now, we can revist this if needed later.

[2021-02-03 22:43] #4 closed, assigned to surajp28

[2021-02-03 22:52] visheshdembla commented on #6
Added meeting notes for 30 January and 02 February

[2021-02-03 23:01] visheshdembla commented on #3
So just to keep it on the record, as of now, we have the following:
1. Login page ✔️ (suraj)
2. Sign up page ✔️ (suraj)
3. Photos Page (when no photo is selected) ✔️ (suraj)
4. Photos Page (when some photos are selected) ✔️ (suraj)
5. Account Overview Page ✔️ (ayisha)
6. Account Options View ✔️(ayisha)
7. Create  Album Page (vishesh)
8. Share Photos/Album Page (vishesh)
9. Download Dialog ✔️ (ayis

[2021-02-03 23:02] visheshdembla commented on #2
Here are the drafts for the Flow Diagram.
I am also creating a branch and pushing the same there.

![user-flow-Download Photos](https://user-images.githubusercontent.com/13031482/106820783-f5f43480-6649-11eb-881a-cb3e7d685182.png)
![user-flow-Login](https://user-images.githubusercontent.com/13031482/106820785-f5f43480-6649-11eb-8e4c-8644d995713e.png)
![user-flow-Share Photos](https://user-images.g

[2021-02-03 23:03] visheshdembla commented on #2
@ayishacs @surajp28 please review the same and provide your feedbacks.
The branch name for the same is flow-diagrams.

[2021-02-03 23:27] visheshdembla commented on #3
11. Forgot Password (vishesh)

[2021-02-04 18:05] ayishacs commented on #1
Thank you for your feedback @surajp28

Addressing the inputs, here is my view as discussed in the team meeting:

1. Emphasis is on illustration of the application as a whole, which includes upload, download, sharing, viewing and granting access. The diagram covers all of these as agreed during the team meeting.
2. Keeping it simple and clear is the ultimate goal which we as a team are trying to ac

[2021-02-04 18:25] ayishacs commented on #1
![panoramanapkindiagram](https://user-images.githubusercontent.com/77846296/106937999-6bb0dc80-66ec-11eb-8f8f-4ed8019b56c1.jpg)

[2021-02-04 18:46] visheshdembla commented on #1
@ayishacs can you create a PR for the same to the dev branch and put the diagram under res/imgs/ folder so that we can assign it to be reviewed by the instructors?

[2021-02-04 20:34] ayishacs commented on #1
@visheshdembla @surajp28 pull request is already sent and waiting for it to be approved.

[2021-02-05 07:59] surajp28 commented on #3
![Panorama](https://user-images.githubusercontent.com/64825150/107005696-19100880-675e-11eb-898f-d46d133ea42c.png)
![Sign up](https://user-images.githubusercontent.com/64825150/107005703-1ad9cc00-675e-11eb-8615-2f2aba8f4290.png)
![Loginpage](https://user-images.githubusercontent.com/64825150/107005715-1e6d5300-675e-11eb-8bc6-5b0cee7da4bd.png)
Hi team,
Kindly review the images and suggest changes.

[2021-02-06 19:49] visheshdembla commented on #3
@surajp28 would it be possible to have rounded rectangles instead of sharp edges. That is usually considered aesthetically better in UX design. Also, just a suggestion about the Login and Sign-Up. Can we keep the input box design same across both the designs?
For instance, in sign up , there are boxes used for input whereas in Sign-in there is underline on the input.

[2021-02-06 21:48] visheshdembla opened #16 "create mockup for login page"
create a UI mockup for the login page using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:49] visheshdembla opened #17 "create a mockup for signup page"
create a UI mockup for the sign up page using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:50] visheshdembla opened #18 "create a mockup for photos page"
create a UI mockup for the photos page using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:51] visheshdembla opened #19 "create a mockup for Photos page with some pictures selected"
create a UI mockup for the picture selected photos page using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:51] visheshdembla opened #20 "create a mockup for account overview page"
create a UI mockup for the account overview page using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:52] visheshdembla opened #21 "create a mockup for the user account hover option"
create a UI mockup for the account hover option using Adobe XD based on the pen-paper diagram in #3

[2021-02-06 21:52] visheshdembla opened #22 "create a UI mockup for the download dialog"
create a UI mockup for the download dialog using Adobe XD

[2021-02-06 21:53] visheshdembla opened #23 "create a mockup for the upload dialog"
create a UI mockup for the upload dialog using Adobe XD

[2021-02-06 21:54] visheshdembla opened #24 "create a mockup for the create album page"
design and create a mockup for the create album page where the user can select photos and create an album

[2021-02-06 21:55] visheshdembla opened #25 "Create Mockup for Share Photos Album Page"
create a ui mockup for the share photos and album page where the user can select an album or photos and enter email recipients to share the photos with them

[2021-02-06 21:57] visheshdembla opened #26 "create mockup for Forgot Password Page"
Create a UI mockup for the forgot password page for the user where the user can navigate if (s)he has forgotten the password for the service.

[2021-02-06 22:06] #2 closed, assigned to visheshdembla

[2021-02-06 22:15] visheshdembla commented on #24
![create-album](https://user-images.githubusercontent.com/13031482/107130768-db66c900-689e-11eb-9417-0a56b4d213cd.png)

[2021-02-06 22:15] visheshdembla commented on #24
@surajp28 @ayishacs guys please provide your feedback for the same here.

[2021-02-06 22:16] visheshdembla commented on #2
closing since there is no feedback. please re-open if there is some additional feedback on the same.

[2021-02-06 22:27] visheshdembla commented on #25
![share-photos](https://user-images.githubusercontent.com/13031482/107130963-9348a600-68a0-11eb-8cc2-5e77e49785f7.png)
![share-album](https://user-images.githubusercontent.com/13031482/107130964-93e13c80-68a0-11eb-92d5-4681bce66b3e.png)

Could you please provide your feedbacks on the same guys?
@ayishacs @surajp28

[2021-02-06 22:29] visheshdembla commented on #3
Closing this issue as child issues have been created for each of the UI.

[2021-02-06 22:54] visheshdembla commented on #26
![forget-password-1](https://user-images.githubusercontent.com/13031482/107131452-639b9d00-68a4-11eb-8b15-633a680a63e8.png)
![forget-password-2](https://user-images.githubusercontent.com/13031482/107131453-639b9d00-68a4-11eb-9be7-a5ad1aabc296.png)

[2021-02-06 22:54] visheshdembla commented on #26
please have a look at the mockups guys @ayishacs @surajp28

[2021-02-06 23:04] visheshdembla opened #30 "Create Project Milestone 1 Wiki Page"
We have to create a milestone wiki page with all the information collection and created documents so far.
This page should go under the Wiki Section of the GitHub.

[2021-02-07 00:31] surajp28 commented on #26
Hi @visheshdembla
Looks like the color combination for both the diagrams is different. The 'Forgot your password' and 'Reset your password' is different. Also, can you share the color code so that we could have it consistent across all diagrams?

[2021-02-07 03:24] surajp28 commented on #16
![login](https://user-images.githubusercontent.com/64825150/107135601-0d415500-68ca-11eb-8ec6-4ef1b0b4fa66.png)

[2021-02-07 03:25] surajp28 commented on #17
![sign_up](https://user-images.githubusercontent.com/64825150/107135611-23e7ac00-68ca-11eb-9186-c09060dc738f.png)

[2021-02-07 03:25] surajp28 commented on #18
![Panorama](https://user-images.githubusercontent.com/64825150/107135616-34982200-68ca-11eb-80b5-91489dfeac45.png)

[2021-02-07 03:26] surajp28 commented on #19
![Panorama_Selected](https://user-images.githubusercontent.com/64825150/107135626-4aa5e280-68ca-11eb-8826-6ed680fa75db.png)

[2021-02-07 04:11] visheshdembla commented on #16
Looks good. I think we have a consistent theme across the UIs that we have developed till now

[2021-02-07 04:11] visheshdembla commented on #17
seems good. Consistent with our theme as well.

[2021-02-07 04:11] visheshdembla commented on #18
👍👍

[2021-02-07 04:12] visheshdembla commented on #19
Looks good 👍

[2021-02-07 14:02] ayishacs commented on #3
![BBA69E88-8DBA-43CA-8C02-D4E16206D180](https://user-images.githubusercontent.com/77846296/107148800-cf205180-691a-11eb-8c62-28605e08ed5e.jpeg)

[2021-02-07 14:03] ayishacs commented on #3
![26174F29-9760-4EAE-8833-9318A18389E7](https://user-images.githubusercontent.com/77846296/107148813-e8c19900-691a-11eb-9506-4c87b8b146e4.jpeg)

[2021-02-07 14:04] ayishacs commented on #3
Upload photos will have similar mockup as download except for upward arrows and upload button.

[2021-02-07 14:04] #3 closed, assigned to surajp28

[2021-02-07 17:36] visheshdembla commented on #24
Closing as PR merged.

[2021-02-07 17:36] #24 closed, assigned to visheshdembla

[2021-02-07 17:37] visheshdembla commented on #25
closing the issue.

[2021-02-07 17:37] #25 closed, assigned to visheshdembla

[2021-02-07 17:38] visheshdembla commented on #26
closing the issue.

[2021-02-07 17:38] #26 closed, assigned to visheshdembla

[2021-02-07 17:45] visheshdembla commented on #6
closing as all meetings for milestone 1 are done.

[2021-02-07 17:45] #6 closed, assigned to visheshdembla

[2021-02-07 19:09] #1 closed, assigned to ayishacs

[2021-02-07 19:26] ayishacs commented on #20
![AccountOverview](https://user-images.githubusercontent.com/77846296/107157128-ff321980-6947-11eb-9843-45284d47d3fe.JPG)

[2021-02-07 19:27] ayishacs commented on #20
Here is the mock-up for account overview. @visheshdembla @surajp28
Please review and add your feedback. I will be creating the pull request for the same.

[2021-02-07 19:28] visheshdembla commented on #20
Doesn't make sense to have the photos again on the Account overview page since we have them already at the view photos page. Just the information on the left side of the page would have been enough.

[2021-02-07 19:44] ayishacs commented on #20
Given an account overview page is the window to user activity. And having referred popular photo-sharing apps. I felt its relevant to include photos section. But I will reduce the number of photos and include one more section which would give us an overview of users with whom the photos have been shared.

[2021-02-07 19:59] visheshdembla commented on #23
Added mockups for upload

[2021-02-07 20:00] visheshdembla commented on #22
uploaded mockups for download dialog

[2021-02-07 20:04] visheshdembla commented on #23
closing as the mockup is uploaded and added to wiki

[2021-02-07 20:05] visheshdembla commented on #22
closing as the mockup is created and added to wiki

[2021-02-07 20:34] visheshdembla commented on #30
Milestone wiki updated. Mockup UIs url needs to be updated.

[2021-02-07 20:34] #30 closed, assigned to visheshdembla

[2021-02-07 21:45] ayishacs commented on #22
![download](https://user-images.githubusercontent.com/77846296/107160370-6dcca280-695b-11eb-89da-8c796a01bcbd.JPG)

@visheshdembla @surajp28
Please review the download dialog for the Application

[2021-02-07 21:47] ayishacs commented on #23
![upload](https://user-images.githubusercontent.com/77846296/107160423-b5ebc500-695b-11eb-8424-3eb986d371ac.JPG)
@visheshdembla @surajp28
Please review the upload page for the application

[2021-02-07 21:56] visheshdembla commented on #23
I see the following issues with this mockup.
A. It doesn't follow the template that we have followed for practically every other page we have designed. All the other UIs that we have are in a single harmony so this page should also be in a similar template.
B. Based on the flow diagram that we have drawn and discussed during the meetings, share and upload options are two separate features and merg

[2021-02-07 21:58] visheshdembla commented on #22
Please review the following points
A. The download is supposed to be a dialog not a separate page, as we had discussed in the meetings and the issue reflects the same.
B. Similar to the upload page, this page doesn't follow the template that we have for the rest of our UI UX
C. We only have IU cloud storage so the options for other cloud storages like One Drive are redundant.
D. I don't understand

[2021-02-07 22:01] visheshdembla commented on #23
Please do the needful @ayishacs

[2021-02-07 22:01] visheshdembla commented on #22
Please do the needful @ayishacs

[2021-02-07 23:00] ayishacs commented on #22
Thank you for your valuable feedback @visheshdembla

Please find my inputs regarding the same:

1) Addressing point A and B,

I am sharing a few references for the individual upload and download pages of popular photo-sharing applications, It need not necessarily be the dialogue box.

![individual download page example 2](https://user-images.githubusercontent.com/77846296/107161847-0582be80-6965-1

[2021-02-07 23:04] #17 closed, assigned to surajp28

[2021-02-07 23:04] #19 closed, assigned to surajp28

[2021-02-07 23:19] ayishacs commented on #21
Dropping this as most of the options are covered in Account overview section

[2021-02-07 23:19] #21 closed, assigned to ayishacs

[2021-02-07 23:20] visheshdembla commented on #22
1. Again I clearly understand that I doesn't need to be a dialog box, but that is what we had decided in the meeting and that's why everything else from sharing photos, to creating album is also a dialog. So either you can make the download option a dialog or please feel free to change the share page along with the create album page as well. I don't have an issue with either a dialog or a page, bu

[2021-02-07 23:36] surajp28 commented on #22
@ayishacs I believe the look and feel of a UI can be different for everyone. I would have appreciated and worked on your inputs had they been given 3 days ago when the mockups had been posted. In spite of getting reviews on the final day, I worked on the icon size and have made it as requested. Since we have a backup ready for now for such a situation, can we go ahead with that? This would ensure

[2021-02-08 02:53] #16 closed, assigned to surajp28

[2021-02-08 02:53] #18 closed, assigned to surajp28

[2021-02-08 03:07] #20 closed, assigned to ayishacs

[2021-02-08 03:15] visheshdembla commented on #23
Closing as we are beyond the release deadline and work needs to be done on this. Might need to reopen later.

[2021-02-08 03:16] visheshdembla commented on #22
Closing as we are beyond the release deadline and work needs to be done on this. Might need to reopen later.

[2021-02-08 03:16] #22 closed, assigned to visheshdembla, ayishacs

[2021-02-08 03:17] ayishacs commented on #23
@visheshdembla
Please find my inputs based on your valuable feedback and suggestions
A. I understand it's important to have uniformity across all the layers in the wireframe. I am glad that the team acknowledges this fact.
B. I have created two separate pages one each for download and upload, share option is about giving access to users and groups for the photos that are being uploaded to the clou

[2021-02-08 03:17] visheshdembla commented on #23
Closing as we are beyond the release deadline and work needs to be done on this. Might need to reopen later.

[2021-02-08 03:17] #23 closed, assigned to visheshdembla

[2021-02-08 03:26] visheshdembla opened #40 "create release for milestone 1"
Task is to create the release milestone for the milestone 1 of the project.

[2021-02-08 03:27] visheshdembla commented on #40
Milestone created on [commit](https://github.com/airavata-courses/Panorama/commit/a85d3ff537f1e44c3f3cbde2885a25110f14894c)

[2021-02-08 03:27] #40 closed, assigned to visheshdembla

[2021-02-08 03:28] visheshdembla commented on #40
release was created at 10:20 PM on Feb 7.
no changes should be pushed after this time for release milestone 1.
the next release manager would take care of the repo for the next release.

[2021-02-09 23:58] surajp28 opened #44 "Create a database schema for user service"
The issue is created to design a normalized database schema for the application.

[2021-02-10 00:03] surajp28 opened #45 "Design User Service"
Understand custos services and their implementation details. Should cover
1. Google login
2. Custom login

[2021-02-10 00:06] surajp28 opened #46 "Database Technology and Architecture Investigation"
Evaluate if creating database service is the right approach

[2021-02-10 00:09] surajp28 opened #47 "React overview"
Get an overview of React Js

[2021-02-10 00:11] surajp28 opened #48 "Investigate gateway service"

[2021-02-11 21:05] visheshdembla commented on #44
## Database Schema

1. User
    - ID: UUID
    - username: string
    - email
    - first name
    - last name
    - date of birth
    - gender
    - join date
    - consumption
    - login mechanism (github, google, iu or custom)
2. Image
    - ID: UUID
    - filepath: String
    - creationDateTime: dateTime
    - lastUpdateDateTime: dateTime
    - owner: userID (UUID)
3. Album
    - ID: UUID

[2021-02-11 21:05] visheshdembla commented on #44
the only part missing is the Authentication Table
need further investigation and input from teammates evaluating that for designing that table.

[2021-02-11 21:05] #44 closed, assigned to nobody

[2021-02-11 21:08] visheshdembla commented on #46
for this issue,
we evaluated two approaches to database design
a. creating a central database service, that all the other services use to access database
b. let the individual services handle the database requirements themselves

Based on some research off the internet and some self analysis, it seems the first approach takes away from the advantages of using a microservice architecture so we will

[2021-02-11 21:08] #46 closed, assigned to visheshdembla, ayishacs

[2021-02-11 21:16] visheshdembla opened #50 "Investigation on Mechanism for Image storage"

[2021-02-11 21:17] visheshdembla commented on #50
There are multiple ways in which an image can be stored for a web application.

a. Relational Database (for us, we've decided to use Postgres as our Relational DB)
b. NoSQL database (Mongo)
c. Filesystem based storage

a. Relational DB
Here the main issue is that images are by default unstructured in nature so they cannot be stored in the tables directly. They would need to be pre-processed and co

[2021-02-11 21:17] visheshdembla opened #51 "Create Architecture Diagram"

[2021-02-11 21:17] visheshdembla commented on #51
![architecture](https://user-images.githubusercontent.com/13031482/107699864-aedaf480-6c84-11eb-9c07-3babfb56eaa6.png)

[2021-02-11 21:19] visheshdembla commented on #51
we need to discuss the overall flow of each and every service.
I have a rough idea of how this would work, we can discuss this in today's meeting or before the lecture today.
Based on the communication that we architect among the services, we need to design the gRPC exchange formats.

@surajp28 @ayishacs

[2021-02-11 21:59] visheshdembla commented on #51
uploading the image for architecture that was left out by mistake.
![architecture](https://user-images.githubusercontent.com/13031482/107703952-76d6b000-6c8a-11eb-93b4-c24c14c99585.png)

[2021-02-11 21:59] #51 closed, assigned to visheshdembla

[2021-02-11 22:02] ayishacs commented on #51
The architecture diagram has covered most of the services we have planned to design and deploy. Good work @visheshdembla

[2021-02-11 22:05] surajp28 commented on #50
Thanks, @visheshdembla for a detailed description.
As per you, how convenient would it be to pivot to NoSQL if we come across the need to do this for scalability issues?

[2021-02-11 22:15] visheshdembla commented on #50
Should not be a big change if we abstract the underlying logic well. I had a talk about this with our AI. We can take this forward based on some feedback from there or the instructors.

[2021-02-11 23:36] ayishacs opened #53 "Create UI for Login Service"

[2021-02-11 23:36] ayishacs opened #54 "Create UI for Sign Up"

[2021-02-11 23:37] ayishacs opened #55 "Create UI for Forgot Password"

[2021-02-11 23:38] ayishacs opened #56 "Create UI for Upload Page"

[2021-02-11 23:38] ayishacs opened #57 "Create UI for Download Page"

[2021-02-11 23:39] ayishacs opened #58 "Create UI for Album Creation and View Albums"

[2021-02-11 23:40] ayishacs opened #59 "Create UI section for Metadata based Image Search"

[2021-02-11 23:43] ayishacs commented on #47
Enumerating some references for understanding React js.

[React JS Official Website ](https://reactjs.org/tutorial/tutorial.html)
[Glossary of React JS](https://reactjs.org/docs/glossary.html)

[2021-02-12 14:38] visheshdembla commented on #47
Closing the issue as there is nothing to do here.

[2021-02-12 14:38] #47 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-02-13 17:04] surajp28 opened #60 "Creating user-related microservice"
A microservice to be written in Javascript and run on node.js environment.

[2021-02-14 14:19] vaibhav-305 commented on #54
Hello, I would like to contribute. This will be a good task for me. It would be helpful if you can provide some more details like the theme for the page and information about input fields and navigation bar.

[2021-02-14 16:47] ayishacs opened #61 "Code to handle session management"
Authentication is the process of determining who a user is, by prompting them for a username and password or using multi-factor authentication. Once we know who the user is, we can check their account details to determine what resources they are authorized to access. Creating a session for an authenticated user stores their current state and prevents the need for them to log in repeatedly in order

[2021-02-14 17:05] ayishacs commented on #61
Few key points for authentication and session management of microservices

1. Microservice-based applications should include a dedicated authentication service rather than implementing authentication logic in each microservice that makes up the application.
2. When a request is received, the authentication service queries the authentication and authorization privileges of the user before the reque

[2021-02-14 17:11] ayishacs commented on #61
Concept of Distributed Session Management in Microservices:
1. In a microservice application, the authentication service provides a session ID for the client to include in subsequent requests. However, when services are distributed across multiple containers or servers, accessing server-side session data poses a potential problem.
2. We should set up a central data store that can be accessed by al

[2021-02-14 17:32] ayishacs commented on #61
Advantages of using session tokens with an API Gateway:

1. An API gateway provides a single access point for our application’s APIs along with providing authentication and session management.
2. The authentication service can be implemented at the API gateway level to identify users and generate an access token for the client to include in future requests.
3. On receiving a request, the API gatew

[2021-02-14 21:05] ayishacs opened #62 "Create sequence diagram of the process flow"
Sequence diagram of process flow

![sequencediagram](https://user-images.githubusercontent.com/77846296/107889076-72a2d080-6ede-11eb-979a-d7420ff7b7a2.jpg)

[2021-02-14 22:05] ayishacs commented on #50
Inference based on team's inputs:
1. Images will be stored on the file system rather than DB.
2. Metadata about images such as file path and names will be stored on NoSQL database due to its speed.
3. Extending the discussion beyond DB and Storage, we can think of having our images stored on Content Delivery Network, which delivers the images much faster with high performance throughput if it is r

[2021-02-14 23:37] ayishacs commented on #62
Updated Version of Sequence Diagram:

![SequenceDiagram](https://user-images.githubusercontent.com/77846296/107892506-93c1ec00-6ef3-11eb-8234-a7ae1a594e01.jpg)

[2021-02-15 19:36] visheshdembla opened #65 "Create auth-service for authorization and authentication of users"
The auth service would perform the following functionalities

[ x ] basic authentication for users
[] oAuth based authentication for Google Drive
[] oAuth based authentication for Github
[] Authenticate user using IU credentials
[] create a session for the user using session-service and return the token to the user so that the user can use the token to make subsequent requests.

[2021-02-16 21:26] visheshdembla opened #66 "create session-service for managing sessions"
Session management would be done via a centralized service which each of the microservices in the system can communicate to validate the session whenever necessary.

[2021-02-17 03:55] visheshdembla opened #67 "create image-service for handling storage and retrieval of images"

[2021-02-17 04:31] visheshdembla opened #68 "create gateway service for handling all client requests"

[2021-02-17 04:32] #61 closed, assigned to visheshdembla, ayishacs

[2021-02-17 04:34] visheshdembla commented on #50
Closing as we are storing metadata on DB and images on cloud storage.

[2021-02-17 04:34] #50 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-02-17 04:35] visheshdembla commented on #60
Initial version of the service is ready. Need to adopt the microservice with gRPC and collect all the proto files into one single location.

[2021-02-17 17:07] ayishacs opened #69 "Create UI for landing page"
The UI is the landing page of Panorama created using Bootstrap.

The landing page has the following components:

1. Login
2. Sign-Up
3. Description

[2021-02-18 21:40] #60 closed, assigned to surajp28

[2021-02-18 21:43] visheshdembla commented on #68
initial version with login route complete

[2021-02-18 21:43] #68 closed, assigned to visheshdembla

[2021-02-18 21:43] visheshdembla commented on #65
initial version that supports basic auth and returns jwt token to user for the session complete.

[2021-02-18 21:43] #65 closed, assigned to visheshdembla

[2021-02-18 21:44] visheshdembla commented on #66
session service with getToken and verifyToken merged into dev

[2021-02-18 21:44] #66 closed, assigned to visheshdembla, ayishacs

[2021-02-18 21:45] visheshdembla commented on #48
Investigation was done by @surajp28  and the results were shared as part of the sync meetings.

@surajp28 if you feel we should add the description of our findings here. Feel free. Otherwise this issue seems to be complete.

[2021-02-18 21:45] #48 closed, assigned to surajp28

[2021-02-18 21:45] visheshdembla commented on #45
Closing since we have delivered the initial draft of the user service by @surajp28

[2021-02-18 21:45] #45 closed, assigned to visheshdembla, surajp28

[2021-02-19 17:10] visheshdembla opened #74 "add signup route to gateway"

[2021-02-19 17:37] ayishacs opened #75 "Code for making api calls and token pass from front end to server"

[2021-02-20 00:16] visheshdembla opened #76 "update user-service to make use of gRPC instead of REST"

[2021-02-20 23:21] ayishacs opened #78 "create learn more page for UI"
Learn More Page will list out the features of Panorama Application

[2021-02-21 14:08] #69 closed, assigned to ayishacs

[2021-02-21 15:27] ayishacs commented on #78
Completed and hence closing the issue.

[2021-02-21 15:27] #78 closed, assigned to ayishacs

[2021-02-21 19:13] ayishacs opened #83 "design flow diagrams for sign in/sign up"
design flow diagrams for sign in/sign up

[2021-02-21 19:14] ayishacs opened #84 "design flow diagrams for forgot password page"
Design flow diagrams for forgot password page

[2021-02-21 19:15] ayishacs opened #85 "design flow diagram for view photos and album page"
Design flow diagram for view photos and album page

[2021-02-21 19:19] ayishacs opened #86 "update wiki pages for milestone-2"

[2021-02-21 19:29] #83 closed, assigned to ayishacs

[2021-02-21 19:29] #84 closed, assigned to ayishacs

[2021-02-21 19:29] #85 closed, assigned to ayishacs

[2021-02-21 19:30] #55 closed, assigned to visheshdembla, ayishacs

[2021-02-21 19:31] #54 closed, assigned to surajp28, ayishacs

[2021-02-21 19:31] #53 closed, assigned to surajp28, ayishacs

[2021-02-22 01:17] #62 closed, assigned to ayishacs

[2021-02-22 03:04] #75 closed, assigned to ayishacs

[2021-02-24 19:39] #86 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-02-28 22:01] ayishacs opened #93 "Create Docker file for UI"

[2021-02-28 22:02] ayishacs opened #94 "Create Docker file for gateway"

[2021-02-28 22:02] ayishacs opened #95 "Create Docker file for auth"

[2021-02-28 22:03] ayishacs opened #96 "Create Docker file for session"

[2021-02-28 22:04] ayishacs opened #97 "Create Docker file for image service"

[2021-02-28 22:05] ayishacs opened #98 "Create Docker file for user service"

[2021-02-28 22:23] ayishacs opened #99 "Configure docker registry to push and pull images"

[2021-02-28 22:24] ayishacs opened #100 "Configure github to trigger build"

[2021-02-28 22:25] ayishacs opened #101 "Configure and setup Jenkins"

[2021-02-28 22:30] ayishacs opened #102 "Create Jenkins Job to trigger build for UI service"
Create job to build react ui on jenkins

[2021-02-28 22:33] ayishacs opened #103 "Create circle ci jJob to trigger build for auth service"

[2021-02-28 22:33] ayishacs opened #104 "Create CircleCI Job to trigger build for gateway service"

[2021-02-28 22:34] ayishacs opened #105 "Create CircleCI Job to trigger build for session service"

[2021-02-28 22:34] ayishacs opened #106 "Create CircleCI Job to trigger build for image service"

[2021-02-28 22:35] ayishacs opened #107 "Create CircleCI Job to trigger build for user service"

[2021-02-28 22:37] ayishacs opened #108 "Configure and Setup Kubernetes service"

[2021-02-28 22:39] ayishacs opened #109 "Create Helm Chart for UI service"

[2021-02-28 22:40] ayishacs opened #110 "Create Helm Chart for auth service"

[2021-02-28 22:40] ayishacs opened #111 "Create Helm Chart for gateway service"

[2021-02-28 22:41] ayishacs opened #112 "Create Helm Chart for session service"

[2021-02-28 22:42] ayishacs opened #113 "Create Helm Chart for image service"

[2021-02-28 22:43] ayishacs opened #114 "Create Helm Chart for user service"

[2021-02-28 22:53] ayishacs opened #115 "Configure VMs in Jetstream"

[2021-02-28 22:54] ayishacs opened #116 "Complete Unit Test Cases for each of the services"
This task is complete with the build being successfully implemented on Circle CI for 5 back end services.

[2021-02-28 22:55] ayishacs opened #117 "Trigger build and test the deployment for front end services"
Triggered build from jenkins and deployment of react app on container was successfully implemented on nginx server

[2021-02-28 22:56] ayishacs opened #118 "Readme for CI-CD pipeline"

[2021-02-28 22:57] ayishacs opened #119 "Update wiki for project milestone 3"

[2021-03-08 23:11] visheshdembla commented on #100
integrated with circleci instead of jenkins, so built in integration used. no need to do this anymore

[2021-03-08 23:11] #100 closed, assigned to visheshdembla

[2021-03-08 23:12] visheshdembla commented on #98
added as part of `user-service-ci` branch

[2021-03-08 23:12] #98 closed, assigned to visheshdembla

[2021-03-08 23:12] visheshdembla commented on #94
taking over.

[2021-03-08 23:12] visheshdembla commented on #94
added Dockerfile, present as part of `gateway-service-ci` branch

[2021-03-08 23:12] #94 closed, assigned to visheshdembla

[2021-03-08 23:13] visheshdembla commented on #95
added by @surajp28  into the auth-service folder. hence closing.

[2021-03-08 23:13] #95 closed, assigned to surajp28

[2021-03-08 23:13] visheshdembla commented on #96
added as part of `session-service-ci` branch and closed.

[2021-03-08 23:13] #96 closed, assigned to surajp28

[2021-03-08 23:14] visheshdembla commented on #74
completed and merged into dev.

[2021-03-08 23:14] #74 closed, assigned to visheshdembla

[2021-03-08 23:14] visheshdembla commented on #103
completed. Docker Image pushed to panoramaiubads/auth-service repository

[2021-03-08 23:14] #103 closed, assigned to visheshdembla

[2021-03-08 23:15] visheshdembla commented on #107
Completed. Docker image pushed to panoramaiubads/user-service

[2021-03-08 23:15] #107 closed, assigned to visheshdembla

[2021-03-08 23:15] visheshdembla commented on #105
Completed. Docker image pushed to panoramaiubads/session-service

[2021-03-08 23:15] #105 closed, assigned to visheshdembla

[2021-03-08 23:17] visheshdembla commented on #104
Completed. Docker image pushed to panoramaiubads/gateway-service

[2021-03-08 23:17] #104 closed, assigned to visheshdembla

[2021-03-08 23:18] visheshdembla commented on #101
Jenkins setup was done locally, however, we decided to move ahead with CircleCI due to time constraints.

[2021-03-08 23:18] #101 closed, assigned to ayishacs

[2021-03-08 23:18] visheshdembla commented on #99
Created username: panoramaiubads where all the docker images for the repository would be stored.

[2021-03-08 23:18] #99 closed, assigned to visheshdembla

[2021-03-08 23:19] visheshdembla commented on #97
Dockerfile for image-service pushed into the dev. Hence closing the issue

[2021-03-08 23:19] #97 closed, assigned to visheshdembla

[2021-03-08 23:19] visheshdembla commented on #76
Merged new user-service into dev. Hence closing the issue.

[2021-03-08 23:19] #76 closed, assigned to visheshdembla, surajp28

[2021-03-08 23:33] visheshdembla commented on #106
Created CircleCI integration scenario against the branch `image-service-ci` that pushed images to `panoramaiubads/image-service`

[2021-03-08 23:33] #106 closed, assigned to visheshdembla

[2021-03-09 00:28] visheshdembla commented on #93
Done.

[2021-03-09 00:28] #93 closed, assigned to ayishacs

[2021-03-12 19:06] visheshdembla opened #127 "Create new session service that can log all session related information"

[2021-03-13 15:59] ayishacs opened #128 "Demo of CI-CD pipeline"

[2021-03-13 16:03] ayishacs opened #129 "Mid term Presentation Task for Vishesh"
Presentation Slides for below:

- [ ] Programming Languages
- [ ] Third party tools and services
- [ ] Task Distribution

[2021-03-13 16:05] ayishacs opened #130 "Mid Term Presentation Tasks for Suraj"
Prepare Presentation Slides for:

- [ ] Inter service communication
- [ ] Github Management
- [ ] Problems and Resolution journey

[2021-03-13 16:08] ayishacs commented on #128
- [ ] Demo of end to end CI-CD build pipeline
- [ ] Project Management

[2021-03-13 20:39] visheshdembla commented on #128
Since I primarily developed the complete CI for 5 microservices, it makes sense that I take up this task. Hence, picking up.

[2021-03-13 20:40] visheshdembla commented on #129
I am not clear what needs to be done in this. Could you please elaborate what is the expectation?

[2021-03-13 20:43] visheshdembla commented on #67
Implemented Methods to Store and Retrieve Single and Multiple Files for a user.

[2021-03-15 21:19] ayishacs opened #137 "Fix react ui ci issue"
The docker build is failing in Circle CI for yarn

[2021-03-15 21:42] ayishacs commented on #102
Jenkins has been setup and job is configured for react ui to build the image and run the container

[2021-03-15 21:42] #102 closed, assigned to surajp28

[2021-03-15 21:52] ayishacs opened #138 "Configure github webhooks for jenkins build"
Integrating jenkins with github via webhooks

[2021-03-15 23:17] visheshdembla commented on #67
implemented gateway functionalities for the same.

[2021-03-15 23:38] visheshdembla commented on #67
Closing as completed.

[2021-03-15 23:38] #67 closed, assigned to visheshdembla

[2021-03-15 23:51] visheshdembla commented on #138
This issue seems to be redundant as we have already decided to go ahead with circle CI. So I don't get what is the point of creating integration with Jenkins. Could you please focus on building up on what has already been done rather than re-working something that is already in a running condition?

In case you feel circle CI is not going to be enough to cover all the scenarios that we have to imp

[2021-03-15 23:52] visheshdembla commented on #129
I would be working on the CI CD part of the presentation and not the topics described in the description. The preparation is done so closing the issue.

[2021-03-15 23:52] #129 closed, assigned to nobody

[2021-03-15 23:54] visheshdembla commented on #128
Closing as the presentation part of this is already complete.

[2021-03-15 23:54] #128 closed, assigned to visheshdembla

[2021-03-16 00:01] visheshdembla opened #141 "Integrating Image Service With Gateway Service"

[2021-03-16 00:02] visheshdembla opened #142 "Integrate Frontend with Gateway for Image Service"
Suraj will take care of integrating login, signup and upload.

I will take care of Download.

[2021-03-16 00:17] ayishacs commented on #117
Tested successfully

[2021-03-16 00:17] #117 closed, assigned to ayishacs

[2021-03-16 00:20] ayishacs commented on #138
Since we haven't got our jetstream VMs yet and we have been instructed to try CI-CD on our local machines. This was an effort to setup CI-CD which is part of mid-term presentations. This was setup to give  a demo on CD part.

[2021-03-16 00:20] #138 closed, assigned to ayishacs

[2021-03-16 00:22] ayishacs commented on #137
Fixed it by replacing yarn with npm
Committed the updated docker file hence closing this issue

[2021-03-16 00:22] #137 closed, assigned to ayishacs

[2021-03-16 00:23] ayishacs commented on #141
Could you please provide more details on the integration aspect.

[2021-03-16 00:25] ayishacs commented on #116
Testing on Continuous deployment is pending as jetstream allocation is awaited.

[2021-03-16 00:28] ayishacs commented on #130
Tasks have been updated in today's meeting.
Let's go with the updated plan.

[2021-03-16 00:31] ayishacs commented on #130
Closing this issue as the updated plan and task distribution is shared via slack.

[2021-03-16 00:31] #130 closed, assigned to surajp28

[2021-03-16 04:51] visheshdembla commented on #142
Closing the issue as the task done.

[2021-03-16 04:51] #142 closed, assigned to visheshdembla, surajp28

[2021-03-16 04:52] visheshdembla commented on #141
Integrated get Image, post Images and get Image List to gateway from gRPC service.

[2021-03-16 04:52] #141 closed, assigned to visheshdembla

[2021-03-16 04:52] visheshdembla commented on #127
closing the issue as the service was implemented in Java.

[2021-03-16 04:52] #127 closed, assigned to surajp28

[2021-03-16 14:56] ayishacs opened #144 "Integrating scm, circleci and aws"
This task is  created for CI-CD demo.

[2021-03-16 15:16] visheshdembla commented on #144
Since this task was not discussed with the team, closing the item. Also we are not using AWS ECR as we already are on Docker Hub. Please communicate well with Suraj and Me before randomly creating tasks.

Closing the item.

Feel free to discuss in the next team meeting and re-open the item.

[2021-03-16 15:19] visheshdembla commented on #138
Could you please answer the question above? Even if for the demo, ideally we should be re-using tools that we are already using in the project and not just piling up tools as it is going to become a mess later on. Please provide answers to the above questions or remove the code pushed as part of this issue once the demo is closed.
Thanks.

[2021-03-16 15:20] visheshdembla commented on #57
Closing as it was done.

[2021-03-16 15:20] #57 closed, assigned to surajp28

[2021-03-16 15:20] visheshdembla commented on #56
Closing as it was done.

[2021-03-16 15:20] #56 closed, assigned to visheshdembla, surajp28

[2021-03-16 15:21] visheshdembla commented on #118
closing as we already have a documentation issue.

[2021-03-16 15:21] #118 closed, assigned to nobody

[2021-03-16 15:22] visheshdembla commented on #109
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:22] #109 closed, assigned to nobody

[2021-03-16 15:22] visheshdembla commented on #110
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:22] #110 closed, assigned to nobody

[2021-03-16 15:23] visheshdembla commented on #111
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:23] #111 closed, assigned to nobody

[2021-03-16 15:23] visheshdembla commented on #112
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:23] #112 closed, assigned to nobody

[2021-03-16 15:23] visheshdembla commented on #113
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:23] #113 closed, assigned to nobody

[2021-03-16 15:23] visheshdembla commented on #114
Closing for now as we are not sure if we will be using helm chart. Please discuss with the team before creating issues randomly.

[2021-03-16 15:23] #114 closed, assigned to nobody

[2021-03-16 15:24] visheshdembla commented on #59
Implementation of metadata search not done on the backend due to capacity so this task does not make sense until we implement the backend. Hence closing the issue.

[2021-03-16 15:24] #59 closed, assigned to nobody

[2021-03-16 15:24] visheshdembla commented on #58
Implementation of the album service not done in the backend so this issue does not make sense until we complete the album service in the backend.

[2021-03-16 15:24] #58 closed, assigned to surajp28, ayishacs

[2021-03-16 15:49] ayishacs commented on #144
The current update on task we have CI setup and not CD setup for demo. So re-opening this issue and will add further details in the upcoming threads.

[2021-03-16 15:57] visheshdembla commented on #144
please make sure that the description of your issue reflects what you are working on. If you are wokring on the presentation under this issue, please mention it so. Renaming the issue.

[2021-03-16 16:01] visheshdembla commented on #144
Since the clear guidance from the teachers was not to use AWS, please kindly close the issue and maintain clear transparency with the team about what you are working on as we would not be able to justify what the team worked on that was actually asked from the team.

[2021-03-16 16:54] visheshdembla opened #145 "Implement and Integrate Session-Log Service"
Implement and integrate the session log service into the gateway that logs every request a user makes from login to signout.

[2021-03-16 16:55] visheshdembla opened #146 "Implement Bulk Download in the existing UI"
Current implementation on UI can only request one file download. Need to implement UI components that provide this functionality.

[2021-03-16 16:55] visheshdembla commented on #146
Would not be part of the mid-term demo, would be added later.

[2021-03-16 17:24] visheshdembla opened #149 "Implement CI and Dockerfile for session-log-service"
Need to write a Dockerfile and CI setup for the session-log-service.

[2021-03-18 02:17] ayishacs opened #152 "Create configuration files for kubernetes deployment"
Configuration files should be stored in version control before being pushed to the cluster. This enables quick roll back of  configuration change if necessary. It also aids cluster re-creation and restoration.

Create configuration files for kubernetes deployment of following applications:

1. auth-service
2. gateway-service
3. image-service
4. panorama-ui
5. session-log-service
6. session-service

[2021-03-18 03:22] ayishacs opened #153 "Reassigning container ports to avoid port conflict during deployment"
Noticed that the existing docker files for multiple applications are repeating port numbers which would eventually lead to port conflict at the time of deploying the containers on kubernetes pods

**Application - Container port in current docker files**
panorama-ui  -> 80
auth-service   -> 50051
gateway-service -> 3000
image-service  -> 50054
session-log-service -> Not defined
session-service  ->

[2021-03-18 03:29] ayishacs commented on #153
Below ports will be assigned to respective applications,
Requesting team to use this as reference:

**Application - New container ports**
panorama-ui -> 80
auth-service -> 50050
gateway-service -> 50055
image-service -> 50060
session-log-service -> 50065
session-service -> 50070
user-service -> 50075

[2021-03-18 04:31] ayishacs commented on #149
@visheshdembla
Please use the below port for containerizing the app.
session-log-service  - 50065

This is to avoid port conflict at the time of kubernetes deployment.
It was observed that multiple applications were assigned the same port

More details could be found in the below issue
https://github.com/airavata-courses/Panorama/issues/153

[2021-03-18 05:20] ayishacs commented on #152
Kubernetes Configuration files of below applications have been committed and waiting for merge request to be approved by the team.

[2021-03-18 05:29] ayishacs commented on #144
![ci-cd](https://user-images.githubusercontent.com/77846296/111577756-4c947880-8789-11eb-8d2c-1791758a20a4.png)

The above setup was created as part of CI-CD Midterm Demo

[2021-03-18 05:29] #144 closed, assigned to ayishacs

[2021-03-18 15:40] visheshdembla commented on #153
from what I understand since everything is going to work in different pods, we can expose the same port from a container and since different pods would have different networking, it would be taken care of.

Also from your comment above, I can see that there is no port number assigned to session-log-service in the configuration. I can see in the code that the port for that is 50055.

Please stick t

[2021-03-18 15:48] #145 closed, assigned to visheshdembla

[2021-03-18 15:50] visheshdembla commented on #153
if you are taking this issue, please ensure the necessary changes are also reflected in the code @ayishacs

[2021-03-18 15:50] ayishacs commented on #153
The code base and docker files were updated  as part of this change and as mentioned we will stick with this. @visheshdembla

[2021-03-18 20:37] ayishacs commented on #153
@visheshdembla @surajp28
As and when new application functionalities are added, ensure to update the port numbers in this thread.
So that I can update them in the configuration files.

[2021-03-18 21:57] ayishacs commented on #152
These configuration files are being updated with the new port members specified by team after last change.

https://github.com/airavata-courses/Panorama/issues/153

[2021-03-19 00:01] ayishacs opened #159 "Minikube installation and setup to test kubernetes deployment"
Key points :
1. Setup minikube
2. Deploy an application
3. Test the service

[2021-03-19 00:04] ayishacs commented on #159
MInikube installation has been completed on local ubuntu machine since access to Jetstream VMs are awaited.
![image](https://user-images.githubusercontent.com/77846296/111712948-055bc580-8825-11eb-98ac-827c5d797744.png)

[2021-03-19 11:34] ayishacs commented on #159
Fixed proxy issue to access dashboard.
minikube dashboard is up and running.
![image](https://user-images.githubusercontent.com/77846296/111774167-7d59d800-8885-11eb-9969-9e5f67660a11.png)

[2021-03-19 14:50] ayishacs commented on #159
Successfully tested kubernetes deployments of the following applications on local minikube setup:
react-ui
gateway service
image service

![image](https://user-images.githubusercontent.com/77846296/111798680-af2c6800-88a0-11eb-910d-118fabb655b9.png)

[2021-03-19 19:52] ayishacs commented on #159
Successfully tested kubernetes deployments of the all the applications committed at this time:
auth-service
session-service
user-service
image-service
gateway-service
reactui

![image](https://user-images.githubusercontent.com/77846296/111835073-dbf57500-88ca-11eb-96a1-d9d47bc5ed7c.png)

[2021-03-19 19:59] ayishacs commented on #159
Pods are successfully running for the following applications:
auth-service
session-service
user-service
image-service
gateway-service
reactui

![image](https://user-images.githubusercontent.com/77846296/111836605-f3356200-88cc-11eb-9ca2-fa5b2bbe3517.png)

[2021-03-19 20:00] ayishacs commented on #159
Pods are succesfully running for each of the application

![image](https://user-images.githubusercontent.com/77846296/111836146-3b07b980-88cc-11eb-875c-660842eee054.png)

[2021-03-19 23:04] ayishacs commented on #152
Kubernetes configuration files will be maintained in separate branch and will not be merged with main branch as of now.

[2021-03-19 23:53] ayishacs opened #160 "Integrate Circle CI with kubernetes cluster"
Update circle ci configurations to integrate Circle CI with Kubernetes for following applications:
1. auth-service
2. gateway-service
3. image-service
4. panorama-ui
5. session-service
6. session-log-service

[2021-03-20 17:25] surajp28 commented on #159
Amazing work @ayishacs. If I am not wrong, we would only have to add the database config for each service now since the services are up and running?

[2021-03-20 21:26] surajp28 commented on #159
Task Update: Minikube installation done. @ayishacs Your committed files were helpful. Thank you.
![image](https://user-images.githubusercontent.com/64825150/111885969-5395d380-89a1-11eb-8718-85a72a1c129d.png)
Pending: Linking services to data bases

[2021-03-21 00:10] ayishacs commented on #159
@surajp28. Inter service communication would be the consecutive step.
we will test the microservice and db connections in the next step.

[2021-03-21 13:49] ayishacs opened #161 "Launch VMs in Jetstream cloud to launch kubernetes cluster"
The issue is created to accomplish following tasks:
1. Launch linux VM in atmosphere
2. Install openstack command line utilities
3. Configure openrc
4. Launch 3 VMs on openstack cloud
    Kubernetes-master
    Kubernetes-node1
    Kubernetes-node2

[2021-03-21 14:58] ayishacs commented on #161
Task status update:
1. Launch linux VM in atmosphere - Completed
![image](https://user-images.githubusercontent.com/77846296/111909595-4d9d0280-8a34-11eb-8844-2602ae31251e.png)

[2021-03-21 15:03] ayishacs commented on #161
Task status update:

2.  Install openstack command line utilities - Completed
3.  Configure openrc.sh - Completed

![image](https://user-images.githubusercontent.com/77846296/111909786-02cfba80-8a35-11eb-8602-58a9121f352c.png)

[2021-03-21 15:32] ayishacs commented on #161
Task status update:

   4. Launch 3 VMs using openstack command line utilities on IU cloud for kubernetes cluster - Completed

![image](https://user-images.githubusercontent.com/77846296/111909970-c05aad80-8a35-11eb-8075-6fca2c24ea31.png)

[2021-03-21 15:38] ayishacs commented on #161
Task is successfully completed

[2021-03-21 15:38] #161 closed, assigned to ayishacs

[2021-03-21 23:14] ayishacs opened #162 "Kubernetes cluster deployment on Openstack VMs"
Kubernetes cluster deployment on Openstack VMs
1. Launch instances on openstack cloud
2. Update packages and add repositories
3. Install kubernetes components
4. Setup kubernetes cluster
5. Configure control plane and data plane

[2021-03-21 23:16] ayishacs commented on #162
Task update:
1. Launch instances on openstack cloud - Completed
https://github.com/airavata-courses/Panorama/issues/161
![image](https://user-images.githubusercontent.com/77846296/111924255-f15cd180-8a79-11eb-9e35-e7b4929aa786.png)

[2021-03-21 23:29] ayishacs commented on #159
@surajp28 @visheshdembla
We shall update this list to keep data about inter service communication documented, which would eventually help us for establishing network and hence the connections between microservices while deploying them on pods
Here is a consolidated list of inter-service communications:
 Auth-service => MongoDB
 Auth-service => Session service
 Gateway-service => Auth-service
 Gate

[2021-03-22 00:24] Arjunbhavsar commented on #161
The steps seem correct till now, You can start working on setting up the cluster over these VM's

[2021-03-22 16:28] ayishacs commented on #162
Task update:
2. Update packages and add repositories - Completed
3. Install kubernetes components - Completed

[2021-03-22 16:29] ayishacs commented on #162
Task update:
4. Setting up kubernetes components - In progress
Successfully configured kubernetes master node
![image](https://user-images.githubusercontent.com/77846296/112024117-3fb9b100-8b0a-11eb-996a-ca2d25a1a367.png)

[2021-03-22 16:42] ayishacs commented on #162
Task update:
Successfully configured kubernetes worker node1
![image](https://user-images.githubusercontent.com/77846296/112025851-fbc7ab80-8b0b-11eb-8a9b-24c30514ef01.png)

[2021-03-22 16:55] ayishacs commented on #162
Task update:
Successfully configured kubernetes worker node2
![image](https://user-images.githubusercontent.com/77846296/112027681-c91eb280-8b0d-11eb-8b8b-5cb184a79d3e.png)

[2021-03-22 17:09] ayishacs commented on #162
Task Update:
4) Setup Kubernetes cluster - Completed
5) Configure control plane and data plane - Completed
Kubernetes cluster is configured successfully
![image](https://user-images.githubusercontent.com/77846296/112029504-b3aa8800-8b0f-11eb-8c8f-b9eda6ae8312.png)

[2021-03-22 19:50] visheshdembla commented on #149
Closing as implementation is done.

[2021-03-22 19:50] #149 closed, assigned to visheshdembla

[2021-03-22 19:52] visheshdembla commented on #159
The list is incomplete right now. We have database connections also from user service as well as session-log service. The image service uses a database as well, however since it is sqlite, it is local right now, which needs to be replaced with Postgres, which would again be a communication.

[2021-03-26 19:34] ayishacs commented on #160
Closing this issue. Since now the CICD is setup using Jenkins and Kubernetes.

[2021-03-26 19:34] #160 closed, assigned to ayishacs

[2021-03-26 19:37] ayishacs opened #177 "Establish CI-CD pipeline for Panorama Application"
The issue is created to accomplish following tasks:

1. Integrate github with Jenkins
2. Integrate jenkins with dockerhub
3. Integrate jenkins with kubernetes

Application list:

auth-service
gateway-service
image-service
panorama-ui
session-service
session-log-service

[2021-03-26 19:41] ayishacs commented on #177
Successfully completed CICD setup for Auth-service

![image](https://user-images.githubusercontent.com/77846296/112684612-a3fdad00-8e49-11eb-98ec-e3a4b33c1112.png)

[2021-03-26 20:28] ayishacs commented on #177
Successfully completed CI-CD integration for Panorama UI

![image](https://user-images.githubusercontent.com/77846296/112689127-3c972b80-8e50-11eb-9bba-8c2376ef8b85.png)

[2021-03-26 20:56] ayishacs commented on #177
Successfully completed CI-CD integration for Image Service
![image](https://user-images.githubusercontent.com/77846296/112691704-13789a00-8e54-11eb-8021-f40b88c5d2f5.png)

[2021-03-27 16:33] ayishacs commented on #162
Kubernetes cluster is successfully deployed and hence closing this issue

[2021-03-27 16:33] #162 closed, assigned to ayishacs

[2021-03-27 20:47] ayishacs commented on #152
Kubernetes configuration files for all of the microservices are being updated

[2021-03-28 01:00] ayishacs commented on #108
This has been completed

[2021-03-28 01:01] #108 closed, assigned to nobody

[2021-03-28 01:01] #152 closed, assigned to ayishacs

[2021-03-29 02:02] ayishacs commented on #177
Jenkins pipeline is successfully completed for all the microservices
CICD is successfully established for all the microservices of Panorama

Here are the links of successful builds

http://149.165.171.218:8080/job/auth-service-cicd/36/console
http://149.165.171.218:8080/job/gateway-service-cicd/48/console
http://149.165.171.218:8080/job/image-service-cicd/46/console
http://149.165.171.218:8080/job

[2021-03-29 02:03] ayishacs commented on #177
**CI CD for Panorama Application**

![image](https://user-images.githubusercontent.com/77846296/112777944-60ee3600-9011-11eb-9001-145f796237a5.png)

[2021-03-29 02:18] ayishacs commented on #177
CI CD Architecture of Panorama

![image](https://user-images.githubusercontent.com/77846296/112778864-7a907d00-9013-11eb-81f4-ddbfcd6aedbd.png)

[2021-03-29 02:28] ayishacs commented on #115
Duplicate issue hence closing this issue

[2021-03-29 02:28] #115 closed, assigned to nobody

[2021-03-29 02:28] ayishacs commented on #159
Closing this issue as minikube setup is complete

[2021-03-29 02:28] #159 closed, assigned to ayishacs

[2021-03-29 02:31] visheshdembla commented on #116
Implementation of the unit test cases for all the microservices complete. Hence closing the issue.

[2021-03-29 02:31] #116 closed, assigned to visheshdembla, surajp28

[2021-03-29 02:31] ayishacs commented on #153
Here is the node and port list for all the microservices:
![image](https://user-images.githubusercontent.com/77846296/112779718-546bdc80-9015-11eb-81a3-76d516046ae4.png)

[2021-03-29 02:31] #153 closed, assigned to ayishacs

[2021-03-29 02:34] visheshdembla opened #189 "Integration of Services in Kubernetes"
The issue is to keep track of all the integration related work needed to be done on Kubernetes.

[2021-03-29 02:36] visheshdembla opened #190 "Exposing UI via LoadBalancer or NodePort"
Issue to track the exposing the panorama-ui via LoadBalancer or via NodePort.

[2021-03-29 02:56] #190 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-03-29 02:56] #189 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-03-29 02:58] #146 closed, assigned to surajp28

[2021-03-29 03:16] ayishacs commented on #177
Jenkins pipeline Jobs for build trigger

![image](https://user-images.githubusercontent.com/77846296/112782719-ad3e7380-901b-11eb-81c7-362f5ca31e69.png)

[2021-03-29 03:17] #177 closed, assigned to ayishacs

[2021-03-29 03:50] ayishacs commented on #119
Documentation is complete

[2021-03-29 03:50] #119 closed, assigned to nobody

[2021-04-06 18:19] hbondala opened #192 "Peer review"
After skimming through your repository, I found following issues in the repo.
1. Image encryption not set with Google Drive
2. SQLite is used in image service, which would not be appropriate for horizontal scaling

Please look into these, and check whether they are valid concerns or not.

[2021-04-06 23:37] surajp28 opened #193 "Give access to public key to connect to kubernetes cluster"
Hi @ayishacs ,
I have create a new public private rsa key and would like to access the cluster via them
I have sent you my latest public key. Can you grant permission for the same.
Kindly try to pick this up on an urgent basis since I cannot proceed further.

[2021-04-07 00:24] ayishacs commented on #193
@surajp28 .. I had added the public keys provided by you twice before. Please check you should be able to access by both of the previous provided key pair. Also let me know if you need further help.

[2021-04-07 03:41] sannidhi09 opened #195 "Peer Review - passwords not hashed"
Hi Team,

I went through the repo and reviewed some parts of the code.  I see that passwords to databases are not been hashed in auth service.

Could you look into this?

Thanks,
Krishna Sannidhi

[2021-04-07 04:01] siddharthtata opened #196 "Peer Review"
Session-log-service is not logging enough data to be helpful during debugging.

[2021-04-08 19:17] surajp28 commented on #193
For this key -

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCik3HqsKLV+GdtgWkQHgLV9Xr158v6hu9jEvcTDCWdg1UNZpQQ7RPXcuGIGFLdsVSMOHuXhAB9QJIQSnTWdBIKhS1Ed4cBBzQfobNhG5m+8LvqAW3+AjtSgI7D3b44kYY9dIa4HkUg64jHllxA27zUXSQ0w1y+wqcLHLNNspGFUJH/UXDWQYoNpd8ZYe5qbqTZBpW7UBHM4BvBXdZYCRjI8bG2hWuh115W9bZdSrWxSW9P7DcEkgmGhmsEyvmGlZMl9f8mmKigqALOVPVjd6vufmu7HiVostSge8eKYacAGEDfUca1cFssCKRux9ufEk2upSWvpkmpyEimycVCzeKhrq2/

[2021-04-11 15:31] visheshdembla commented on #195
Will look into the issue. Thanks for the review.

[2021-04-11 15:31] #195 closed, assigned to nobody

[2021-04-11 15:32] visheshdembla commented on #196
Will be looking into the issue and discuss with the team.

[2021-04-11 15:32] #196 closed, assigned to nobody

[2021-04-11 15:32] visheshdembla commented on #192
Hi Haree, I will be looking into the issue and take up some of the tasks definitely.

[2021-04-11 15:32] #192 closed, assigned to nobody

[2021-04-11 21:16] ayishacs commented on #193
All the keys that were provided on slack have been authorized as discussed.
Closing this issue

[2021-04-11 21:16] #193 closed, assigned to ayishacs

[2021-04-11 21:23] ayishacs opened #198 "JMeter Setup for Load Testing"
The issue is created to setup JMeter and test the load handling capacity of running pods and services.

Perform the following tests by incrementing the replica count and plot the graphs accordingly.

1. Analyze the response times of the application by incrementing the pod capacity.
2. Analyze the peak load for the application.

[2021-04-12 17:19] ayishacs opened #199 "Investigating network and dns on kubernetes cluster"
Interservice communication issue resolution scenarios

[2021-04-12 18:06] ayishacs commented on #199
The cluster IPs for coredns, UI are in different IP range relative to backend.
Working on this issue to see if it is impacting inter service communication.

![image](https://user-images.githubusercontent.com/77846296/114440421-1d123980-9b98-11eb-98ff-a42e10470884.png)

@surajp28 @visheshdembla
Please feel free to add your inputs and findings

[2021-04-12 22:41] ayishacs commented on #199
Mitigation steps:
Kubernetes cluster was reset.
Kubernetes cluster has been redeployed - all the microservices are within the same cluster IP range.
![image](https://user-images.githubusercontent.com/77846296/114471424-9d4b9580-9bbe-11eb-9aa5-71efc4ca4523.png)

[2021-04-13 18:29] ayishacs commented on #199
Closing this issue.

[2021-04-14 15:54] ayishacs commented on #198
**Analysis of Response times vs Incremental Capacity**

Pod count: 1
Number of concurrent users: 1000
![image](https://user-images.githubusercontent.com/77846296/114740822-33df9a00-9d18-11eb-8794-47edb20cb309.png)

[2021-04-14 15:55] ayishacs commented on #198
Pod count: 2
Number of concurrent users: 1000

![image](https://user-images.githubusercontent.com/77846296/114741009-5d98c100-9d18-11eb-94a2-0962e147d087.png)

[2021-04-14 15:56] ayishacs commented on #198
Pod count: 3
Number of concurrent users: 1000

![image](https://user-images.githubusercontent.com/77846296/114741159-7dc88000-9d18-11eb-9491-f97355c25d80.png)

[2021-04-14 16:05] ayishacs commented on #198
Pod count: 4
Number of concurrent users: 1000

![image](https://user-images.githubusercontent.com/77846296/114742389-b2890700-9d19-11eb-921e-6fe9b04778c3.png)

[2021-04-16 14:34] visheshdembla commented on #199
The issue with the original setup could not be resolved. Based on investigations, we figured out that the issue was due to some network related issue during the setup. So we have gone ahead and created a new setup where everything is working as expected. Hence closing the issue for good now.

[2021-04-16 14:36] visheshdembla commented on #198
Hi @ayishacs ,
could you clarify for what requests are the graphs generated?
Also can you please upload the scripts in the repo in some branch.
Since the integration of the services was just completed now on a different cluster, I don't know if these results are valid or not. Could you please also provide some clarification on the same?

[2021-04-16 14:37] visheshdembla commented on #198
Meanwhile I believe @surajp28 is working on JMeter scripts for functionalities in the backend. Could you please sync with him on what you've covered and take it from there?

[2021-04-16 14:40] visheshdembla opened #200 "Fault Tolerance Testing"
The idea here is to crash each of the service manually or using a program like KubeMonkey and observe what works and what does not work. Based on the findings, we need to write a report and come up with changes that we need to make into the architecture to ensure that our system is fault tolerant.
We also need to ensure that in case the number of replicas of each service is scaled, crashing of one

[2021-04-16 14:41] visheshdembla opened #201 "Spike Testing"
Spike Testing involves increasing the load on the system suddenly and observing the behaviour of the system.
Need to invest in understanding how this would be achieved.

[2021-04-16 17:34] ayishacs commented on #198
@visheshdembla @surajp28
The graphs are generated for the UI. We will have to continue our load and spike tests for API and other Microservices.
The script will be committed to github after completing the integration tests for all the services.
Let us schedule a call to run the load, spike and fault tolerance tests .

[2021-04-17 17:10] surajp28 commented on #198
A folder for JMX testing has been created. The script and results are have been uploaded as well. Kindly go through them.
The following partner has been observed
100 users with 100 data entries
100 users with 500 data entries
100 users with 1000 data entries
100 users with 10000 data entries

500 users with 500 data entries
500 users with 1000 data entries
500 users with 1000 data entries

1000 us

[2021-04-17 18:20] surajp28 commented on #198
Login functionality added as well

[2021-04-19 23:03] ayishacs commented on #201
The goal of spike testing is to analyze the behavior of a software application when it receives extreme variations in traffic. Spike testing helps us understand an application's maximum load; it also verifies an application's recovery time between activity spikes. We can test this by setting a constant pod count. By hitting the pods with high load such as 10000, 15000, 20000 concurrent threads , w

[2021-04-20 08:25] visheshdembla commented on #200
Following observations were made with regards to fault tolerance of the micro-service architecture:
1. In case of multiple replicas, if a pod is crashed, subsequent requests are taken over by the replicas. This works seamlessly as all the services are stateless in nature.
2. If all replicas of gateway or react UI are crashed, the application as a whole would not be available as these two are the s

[2021-04-20 08:25] visheshdembla commented on #200
Will update the wiki with the findings, the screenshots and the relevant process followed to get the results.

[2021-04-20 08:34] visheshdembla commented on #198
Fixed issues in image service and other microservices to ensure load testing works.

[2021-04-20 08:35] visheshdembla opened #203 "Move Image Service From SQLite to Mongo"
due to findings in the analysis, we need to move sqlite to mongo db for the image service.

[2021-04-20 18:09] surajp28 commented on #198
The load testing for signin, signup, image store and image retrieval has been completed. It shall be updated to the wiki shortly

[2021-04-20 18:09] #198 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-04-21 20:42] visheshdembla commented on #200
Wiki Updated with the findings

[2021-04-21 20:42] #200 closed, assigned to visheshdembla

[2021-04-21 20:43] visheshdembla commented on #203
moved as part of adoptions made to make sure the architecture is scalable.

[2021-04-21 20:43] #203 closed, assigned to visheshdembla

[2021-04-21 20:44] visheshdembla opened #204 "Move Jenkins from Old Cluster to New Cluster Setup"
Need to change the jenkins setup to deploy applications automatically on the new setup.

[2021-04-21 20:45] visheshdembla opened #205 "UI Compilation Issue With OpenShift environment"
Need to fix the compilation and deployment issue of ui on openshift cluster.
Error is due to some permission related differences in openshift and docker containers in general.

[2021-04-21 20:45] visheshdembla opened #206 "Implement Share Service To Share Photos With Other Users"

[2021-04-21 20:46] visheshdembla opened #207 "Create UI for Share Option"

[2021-04-21 20:46] visheshdembla opened #208 "Make Changes to Image Service to Return Shared Image List"

[2021-04-21 20:47] visheshdembla opened #209 "Shift Image Service from gRPC to REST"
Need to shift image service from gRPC to REST due to concurrency issues in the connection from gateway to image service

[2021-04-21 20:47] visheshdembla commented on #201
please provide with updates on the spike testing as it has been two days since the last update. @ayishacs

[2021-04-21 20:49] visheshdembla opened #210 "Re-deploy cluster on TACC"
Deploy the OpenShift Setup on TACC for blue-green deployment.

[2021-04-22 11:50] ayishacs commented on #199
All of the VMs were created within the same subnet and the pods hosting microservices in containers are within the same cluster IP range as seen in the previous screenshot. Hence it is clear that the issue is not at the network level.

[2021-04-22 11:50] #199 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-04-22 15:22] ayishacs commented on #201
The following observations have been made while spike testing panorama application:
1. Performed a spike test by simulating large number of users via thread groups for a duration of 2 hours to analyze the system behavior under extreme load.
2. The simulated traffic was hit on the services of panorama application and steep spikes were observed in response times with the variations of traffic over t

[2021-04-22 18:54] ayishacs commented on #201
The above observation was made for gateway wherein the error rate is 100%, which means the test is invalid.
Ignore the previous results and performing stress testing again along with troubleshooting build failures for ui in jenkins

[2021-04-24 03:37] visheshdembla commented on #205
Fixed the issue by relaxing a security constraint on OpenShift that stopped containers from running as root.

[2021-04-24 03:37] visheshdembla commented on #205
Fixed as part of https://github.com/airavata-courses/Panorama/commit/35cbc4496cd2bd59a176eec51f595abb0324b4ae

[2021-04-24 03:37] #205 closed, assigned to visheshdembla, surajp28

[2021-04-24 04:34] visheshdembla commented on #204
completed as part of the following commits
https://github.com/airavata-courses/Panorama/commit/2ff4216d3f567ec4506998f76a61f34ec2095a65
https://github.com/airavata-courses/Panorama/commit/4445422bd3a333f86e31542cf513fce4332507bf
https://github.com/airavata-courses/Panorama/commit/86697c77a5fcd3718066e7324b0913562e2af0db
https://github.com/airavata-courses/Panorama/commit/f97e1c87aa2b8b2fd3a5a585d9

[2021-04-24 04:34] #204 closed, assigned to visheshdembla, surajp28

[2021-04-24 04:36] visheshdembla opened #211 "Remove Circle CI from the repository"
Remove the integration from circle ci and delete the YAML files from all the branches.

[2021-04-24 04:46] visheshdembla commented on #211
Removed all the CI branches for circle Ci, deleted the YAML file from dev.

[2021-04-24 04:46] #211 closed, assigned to visheshdembla

[2021-04-24 05:31] visheshdembla commented on #206
Added starter code with Dockerfile and Jenkinsfile. Will try to integrate messaging into the service.

[2021-04-24 16:57] visheshdembla opened #213 "Refine React UI to include Download, Delete and Share with checkboxes"

[2021-04-24 17:27] visheshdembla commented on #213
added check box and formatted date

[2021-04-25 18:29] visheshdembla commented on #201
Completed spike testing
https://github.com/airavata-courses/Panorama/pull/214/commits/377cdcc872c3b8c92f2425419d1a8d94a9566cf9

[2021-04-25 19:07] visheshdembla commented on #210
New VM created on TACC.
IP Address for the same is
129.114.104.20

[2021-04-25 19:07] visheshdembla commented on #210
Installed OpenShift on the VM

[2021-04-25 19:31] visheshdembla commented on #210
Added ssh keys for all on the VM

[2021-04-25 19:32] visheshdembla commented on #210
microservices deployed on the new cluster.

[2021-04-25 19:42] visheshdembla commented on #210
Refined constraints on the cluster to run every container as root.

[2021-04-25 19:49] visheshdembla commented on #210
Closing as the TACC OpenShift is up and running.

[2021-04-25 19:49] #210 closed, assigned to visheshdembla, surajp28

[2021-04-25 20:09] visheshdembla opened #215 "Configure NGINX for Blue-Green Deployment"
Configure NGINX with the deployment to route traffic between the two deployments

[2021-04-26 22:20] visheshdembla commented on #215
Added NGINX to the UI. The logic to load balance can be added to the UI. Since we only need to load balance two services, that are the gateway services of the application, we can do that directly using NGINX.

[2021-04-26 23:31] visheshdembla commented on #215
Completed load balancing for green blue deployment.
In normal working scenarios, the requests are balanced across the services in a round robin fashion. Since the services are stateless in nature, the requests are processed properly without any issues.

In case one of the cluster goes down, the request is redirected to the other server.

https://github.com/airavata-courses/Panorama/commit/9b41c9aa

[2021-04-26 23:32] visheshdembla opened #216 "Integrate CD for New Cluster"
Deploy the service also on the second cluster which has been created for blue-green deployment.

[2021-04-27 22:30] visheshdembla commented on #216
commit for auth-cd change
https://github.com/airavata-courses/Panorama/commit/3d70c51cd1374be5c34f4040598f08e0b28486a0

commit for gateway-cd change
https://github.com/airavata-courses/Panorama/commit/7d56c20cffe03003f1ae45e2b0231bf6850c835d

[2021-04-28 00:57] visheshdembla commented on #216
Closing as the task is completed.

[2021-04-28 00:57] #216 closed, assigned to visheshdembla, surajp28

[2021-04-28 00:58] visheshdembla opened #217 "Write ANSIBLE Script to Automatically Deploy Cluster"

[2021-04-28 04:58] visheshdembla commented on #206
Completed Implementation of the service.
TODO: README, Unit Test.

[2021-04-28 05:53] visheshdembla commented on #206
Closing as implementation is done

[2021-04-28 05:53] #206 closed, assigned to visheshdembla

[2021-04-28 22:25] surajp28 opened #218 "Code Clean"

[2021-04-28 22:26] surajp28 commented on #218
The issue has been created in an attempt to find bugs in code that might help in reducing the latency

[2021-04-29 00:30] surajp28 opened #219 "Adding account overview options"

[2021-04-29 13:24] visheshdembla opened #220 "Final Presentation Preparation"
Please provide your inputs on priority @ayishacs  @surajp28

if I don't get any response, I will go ahead and create a presentation for the team.
Please comment your availability in the issue before class today.

I am not available between 1:30 to 3 PM

[2021-04-30 17:40] ayishacs commented on #201
Adding spike testing results with 10000 concurrent users for the application
![TimevsThreads10000concurrentusers](https://user-images.githubusercontent.com/77846296/116733038-98a62000-a9b9-11eb-8414-0811f87504b0.JPG)
![ResponseTimeOverview10000concurrentusers](https://user-images.githubusercontent.com/77846296/116733090-a8256900-a9b9-11eb-9596-2387b20aca08.JPG)

[2021-04-30 17:41] ayishacs commented on #201
![LatencyvsRequest10000ConcurrentThreadsOverTime](https://user-images.githubusercontent.com/77846296/116733139-ba9fa280-a9b9-11eb-80de-9e13637a6bdf.JPG)

[2021-04-30 17:41] #201 closed, assigned to visheshdembla, ayishacs

[2021-04-30 21:35] surajp28 commented on #215
The load-balancing was shown as part of the end-term presentations where the services were working in spite of a cluster being down.

[2021-04-30 21:38] surajp28 commented on #220
The presentation was completed. Closing the issue

[2021-04-30 21:38] #219 closed, assigned to nobody

[2021-04-30 22:05] #218 closed, assigned to nobody

[2021-04-30 22:05] #220 closed, assigned to visheshdembla, surajp28, ayishacs

[2021-04-30 22:20] surajp28 commented on #215
Also, as mentioned in the presentations, the initial approach was to go with Istio. However, due to configuration issues, we went with nginx

[2021-04-30 22:20] #215 closed, assigned to visheshdembla, surajp28

[2021-04-30 23:47] #217 closed, assigned to visheshdembla

[2021-04-30 23:48] #213 closed, assigned to visheshdembla

[2021-04-30 23:48] #209 closed, assigned to visheshdembla

[2021-04-30 23:48] #208 closed, assigned to visheshdembla

[2021-04-30 23:48] #207 closed, assigned to visheshdembla

[2021-05-01 00:45] surajp28 opened #224 "Configuring steps for istio deployment"
We would first try to use istio locally and then deploy it using openshift. The following steps can be followed.
1. Install minikube
 $ minikube start --memory=8192 --cpus=4 --kubernetes-version=v1.10.0 \
--extra-config=controller-manager.cluster-signing-cert-file="/var/lib/localkube/certs/ca.crt" \
--extra-config=controller-manager.cluster-signing-key-file="/var/lib/localkube/certs/ca.key" \
--vm

[2021-05-01 00:47] surajp28 commented on #224
Istio configuration had issues while deployment. Hence nginx was used.

[2021-05-01 00:47] #224 closed, assigned to surajp28

[2021-05-04 02:02] ayishacs opened #226 "Prometheus Monitoring Setup for kubernetes cluster"
Prometheus is an open-source monitoring framework. It provides monitoring capabilities for the Kubernetes container orchestration platform.

Key features of prometheus are:

- Metric Endpoint: The systems that you want to monitor using Prometheus should expose the metrics on an /metrics endpoint.
- Metric Collection: Prometheus uses the pull model to retrieve metrics over HTTP.
- Prometheus Export

[2021-05-04 02:02] ayishacs commented on #226
Tasks accomplished:

- Deployed prometheus on kubernetes cluster for monitoring the infrastructure components
- Created namespace and cluster role
- Created a Config Map To Externalize Prometheus Configurations
- Created a Prometheus Deployment
- Exposed Prometheus as a Service using NodePort

[2021-05-04 02:03] ayishacs commented on #226
![prometheusdashboard](https://user-images.githubusercontent.com/77846296/116953480-5b60bd00-ac5b-11eb-9df7-e43c186bb680.JPG)

![prometheusdashboardhttprequest](https://user-images.githubusercontent.com/77846296/116953486-5ef44400-ac5b-11eb-9851-5d4ba663a104.JPG)

![prometheusdashboardhttpresponsebytes](https://user-images.githubusercontent.com/77846296/116953496-6582bb80-ac5b-11eb-8c92-ef96f353df

[2021-05-04 02:03] ayishacs commented on #226
![prometheusdashboardnetworkrecievebytestotal](https://user-images.githubusercontent.com/77846296/116953512-73384100-ac5b-11eb-9af9-18df82bab806.JPG)

[2021-05-04 02:04] ayishacs commented on #226
![prometheusdashboardnodedisk](https://user-images.githubusercontent.com/77846296/116953517-77fcf500-ac5b-11eb-8236-bb295df9103e.JPG)

[2021-05-04 02:04] ayishacs commented on #226
Task is completed

[2021-05-04 02:05] #226 closed, assigned to ayishacs

[2021-05-04 02:05] ayishacs opened #227 "Install, configure and setup grafana dashboards"
Using Grafana we can create dashboards from Prometheus metrics to monitor the kubernetes cluster.
we can write all the PromQL queries for the dashboards.

Tasks accomplished:

- Deployed grafana on kubernetes.
- Created deployment using yaml file.
- Created service using yaml file.
- Created dashboard for nodes, containers and performance monitoring.

[2021-05-04 02:06] ayishacs commented on #227
![grafananodeexporterdashboardcpumemory](https://user-images.githubusercontent.com/77846296/116953635-c3170800-ac5b-11eb-8453-e025a467375b.JPG)

[2021-05-04 02:06] ayishacs commented on #227
![grafananodeexporterdashboardfilesize](https://user-images.githubusercontent.com/77846296/116953646-cad6ac80-ac5b-11eb-9aca-1ebdc24d0ed7.JPG)

[2021-05-04 02:06] ayishacs commented on #227
![grafananodeexporterdashboardnetworkparameters](https://user-images.githubusercontent.com/77846296/116953652-cf9b6080-ac5b-11eb-8566-45da05238e1a.JPG)

[2021-05-04 02:06] ayishacs commented on #227
![grafananodeexporterdashboardnodeexportermetrics](https://user-images.githubusercontent.com/77846296/116953664-d5914180-ac5b-11eb-9cc5-04259aa5f09a.JPG)

[2021-05-04 02:06] ayishacs commented on #227
![grafananodemetricsdiskiodashboard](https://user-images.githubusercontent.com/77846296/116953675-da55f580-ac5b-11eb-9104-a681b99f0859.JPG)

[2021-05-04 02:06] ayishacs commented on #227
![grafananodemetricsNode2](https://user-images.githubusercontent.com/77846296/116953685-dfb34000-ac5b-11eb-8709-3522acb4bf84.JPG)

[2021-05-04 02:07] ayishacs commented on #227
Task is completed

[2021-05-04 02:07] #227 closed, assigned to ayishacs

[2021-05-04 02:11] ayishacs opened #228 "Install, configure and deploy kube state metrics for monitoring infra nodes"
Kube state metrics service will provide metrics which are not available by default. Deploy Kube state metrics to monitor all the kubernetes API objects like deployments, pods, jobs, cronjobs.

[2021-05-04 02:13] ayishacs commented on #228
![image](https://user-images.githubusercontent.com/77846296/116953997-ba730180-ac5c-11eb-8591-7a9f21836a53.png)

[2021-05-04 02:13] ayishacs commented on #228
Task is completed

[2021-05-04 02:13] #228 closed, assigned to ayishacs